# binary files
*.class
**.classpath
**target
**attached
**rebel.xml
**yarn.lock
# Mobile Tools for Java (J2ME)
.mtj.tmp/
**src/main/webapp/node_modules
**/src/main/webapp/node_modules
# Package Files #
*.jar
*.war
*.ear
**src/main/webapp/build
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
galleryApp/ios
# IDE related
.idea
./**/.idea
./**/.project
./**/.classpath
./**/.myeclipse
./**/.eclipse
./**/.settings
*.iml
npm-debug.log
./**/.iml

web/src/main/webapp/build/
