.app {
  width: 100%;
  height: 100%;
  padding: .5rem .3rem 0;
  position: relative;
  .sign {
    margin-bottom: 1rem;
    span {
      font-size: .36rem;
    }
  }
  .title {
    margin: 0;
    font-size: .6rem;
  }

  .lists {
    display: inline-block;
    margin-top: 1.3rem;
    list-style-type: none;
    width: 3rem;
    li {
      font-size: .36rem;
      margin-bottom: .35rem;
    }
  }

  .star {
    position: absolute;
    right: .5rem;
    bottom: 2rem;
    img {
      width: 4.5rem;
      height: 4.8rem;
    }
  }
}
