/*@font-face{
  font-family: 'HuaKang';
  src : url('./media/fonts/华康少女字体.ttf') format('truetype');
}*/
html, body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft Yahei", Arial;
}
#root {
  width: 100%;
  height: 100%;
  color: #fff;
}
.main-bg {
  background: #aee644 url("./media/imgs/bkg_home@2x.png") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.common-bg {
  background: #aee644 url("./media/imgs/bkg1.png") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.info-bg {
  background: #5cb8e7 url("./media/imgs/bkg.png") center center no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.score-bg {
  background: url("./media/imgs/score_bg.png") center center;
  background-size: 100% 100%;
}
.answer-bg {
  background: #aee644 url("./media/imgs/bkg2.png") center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}