<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.AccountMapper">
    <select id="findNotInTop20" resultType="com.ani.ccyl.leg.persistence.po.AccountPO">
        SELECT * FROM t_account WHERE id NOT IN (SELECT account_id FROM t_daily_top20 UNION SELECT account_id FROM t_daily_lucky20) AND id IN (SELECT account_id FROM t_score_record WHERE log_date=date_format(now(),'%Y-%m%d'))
    </select>
</mapper>