<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.DailyAwardsMapper">
    <select id="findByType" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.DailyAwardsPO">
        SELECT * FROM t_daily_awards WHERE type=#{type} AND is_del=0 LIMIT 1
    </select>
</mapper>