<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.DailyAwardsMapper">
    <select id="findByType" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.DailyAwardsPO">
        SELECT * FROM t_daily_awards WHERE type=#{type} AND is_del=0 AND account_id IS NULL LIMIT 1
    </select>
    <select id="findIsAwardToday" parameterType="java.util.Map" resultType="java.lang.Boolean">
        SELECT CASE t.awardCount
            WHEN 0 THEN FALSE
            ELSE TRUE
            END
        FROM (SELECT count(account_id) AS awardCount FROM t_daily_awards WHERE account_id=#{account_id} AND type=#{awardType} LIMIT 1)t
    </select>
    <select id="findCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT count(*) FROM t_daily_awards WHERE type=#{type} AND is_del=0 AND account_id IS NULL
    </select>
</mapper>