<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.DailyTotalScoreMapper">
    <select id="findTop20" parameterType="java.lang.String" resultType="com.ani.ccyl.leg.persistence.po.DailyTotalScorePO" >
        select * from t_daily_total_score WHERE log_date =#{date} and account_id not IN (SELECT account_id from t_top20_awards WHERE t_top20_awards.account_id IS NOT null UNION SELECT account_id FROM t_lucky20_awards WHERE account_id is NOT NULL)ORDER BY SCORE DESC limit 20;
    </select>

    <select id="findRankByAccountId" parameterType="java.util.Map" resultType="java.lang.Integer">
       select ranks from (SELECT *, @rownum := @rownum +1 AS ranks FROM (SELECT * FROM t_daily_total_score WHERE log_date=#{logDate}) temp,(SELECT@rownum :=0) r ORDER BY SCORE DESC) t WHERE t.account_id=#{accountId}
    </select>
    <select id="findPrivanceInfo" parameterType="java.lang.String" resultType="com.ani.ccyl.leg.commons.dto.ProvinceInfoDto">
      SELECT sum(score) as total_score ,avg(score) AS average_score,count(account_id) as people_number,province FROM t_daily_total_score where log_date =#{logDate} GROUP BY province
    </select>
    <select id="findByAccAndDate" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT score FROM t_daily_total_score WHERE account_id=#{accountId} AND log_date=#{logDate} LIMIT 1
    </select>
</mapper>