<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.DailyAwardsMapper">
    <select id="findByType" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.DailyAwardsPO">
        SELECT * FROM t_daily_awards WHERE type=#{type} AND is_del=0 AND account_id IS NOT NULL LIMIT 1
    </select>
    <select id="findIsAwardToday" parameterType="java.lang.Integer" resultType="java.lang.Boolean">
        SELECT CASE t.awardCount
            WHEN 0 THEN FALSE
            ELSE TRUE
            END
        FROM (SELECT count(account_id) AS awardCount FROM t_daily_awards WHERE account_id=#{accountId} AND log_date=date_format(now(),'%Y-%m-%d') AND type IN (1,2,3,4))t
    </select>
    <select id="findTopOrLuckyByAccountId" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.DailyAwardsPO">
        SELECT * FROM t_daily_awards WHERE type IN (5,6,7,8,9) AND t_daily_awards.account_id=#{accountId} LIMIT 1
    </select>
</mapper>