<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.DayQuestionMapper">
    <select id="findNewQuestion" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.QuestionPO">
        SELECT q.* FROM t_question q LEFT JOIN t_day_question d ON q.id=d.id WHERE d.order=#{order} AND date_format(d.create_time,'%Y-%m-%d')=date_format(now(),'%Y-%m-%d')
    </select>
</mapper>