<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.QuestionMapper">
    <select id="findDayQuestions" parameterType="java.sql.Timestamp" resultType="com.ani.ccyl.leg.persistence.po.QuestionPO">
        SELECT q.* FROM t_question q LEFT JOIN t_day_question dq ON q.id=dq.id WHERE date_format(dq.create_time,'%Y-%m-%d')=date_format(#{createTime},'%Y-%m-%d') ORDER BY q.id
    </select>
    <select id="findTopThree" resultType="com.ani.ccyl.leg.persistence.po.QuestionPO">
        SELECT * FROM t_question WHERE is_del=FALSE AND id &gt; (SELECT ifnull(max(id),0) FROM t_day_question) ORDER BY id LIMIT 3
    </select>
</mapper>