<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ani.ccyl.leg.persistence.mapper.Top20AwardsMapper">
    <select id="findByType" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.Top20AwardsPO">
        SELECT * FROM t_top20_awards WHERE type=#{type} AND account_id IS NULL AND is_del=0 LIMIT 1
    </select>
    <select id="findByAccountId" parameterType="java.lang.Integer" resultType="com.ani.ccyl.leg.persistence.po.Top20AwardsPO">
        SELECT * FROM t_top20_awards WHERE account_id=#{accountId} LIMIT 1
    </select>
</mapper>