.description {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: .4rem .3rem 0;
  position: relative;
  .title {
    margin: 0;
    font-size: .6rem;
  }
  .info {
    margin-top: .5rem;
    font-size: .36rem;
  }
  .info ul {
    list-style-type: none;
  }
  .info ul li {
    text-indent: 2em;
  }
}