.root{
  background-color: white;
  height: 100%;
  .weui-dialog{
    border-radius:0px;
  }
  .weui-dialog__hd{
    background-color: #8fc440;
  }
  .weui-dialog__bd{
    padding:0;
  }

  .codeLable{
    display:inline-block;
    margin-top:.1rem;
    height:1rem;
    width:1rem;
    vertical-align: middle;
  }
  .codeSecret{
    margin-top: .2rem;
    width:2.8rem;
    display:inline-block;
  }
  .copyCode{
    height:.8rem;
    width:3rem;
    margin-bottom: .2rem;
  }
  .srcImg{
    height:3rem;
  }
  .noAward{
    text-align: center;
  }
  .listdiv{
    width:100%;
    height:5rem;
    overflow-y: scroll;
    .task{
      width:98%;
      height:1.3rem;
      margin:0 auto;
      display: inline-block;
      margin-top:.2rem;
      .leftDiv{
        float:left;
        width:70%;
        heigth:1.3rem;
        display:inline-block;
        color:black;
        margin-left:0rem;
        span{
          margin-left: .2rem;
          display:block;
          text-align: left;
        }
        .desc{
          font-size:.2rem;
          color:grey;
        }
      }
      .rightDiv{
        width:.7rem;
        height:.7rem;
        background-color: white;
        float:right;
        border-radius:50%;
        margin-top:.2rem;
        margin-right:.2rem;
        .plus{
          display:block;
          width:.7rem;
          height:.7rem;
          background: url("../imgs/Plus.png") center center;
          background-size: 100% 100%;
        }
      }
    }
  }
}
.MyScore {
  margin:0 auto;
  width: 100%;
  height: 4.5rem;
  overflow: auto;
  .clearfix{
    padding: .4rem .3rem 0;
  }
  .detail {
    margin-top: 1rem;
    margin-left: .4rem;
    .touxiang {
      height: 1.28rem;
      border-radius: 50%;
    }
    .detail-span {
      font-size: .3rem;
      color: #8fc440;
    }
  }
}
.bottomDiv{
  background-color: white;
  width:100%;
  position:absolute;
  .buttonDiv{
    height:1.4rem;
    width:100%;
    background-color:white;
    border-bottom:.01rem solid lightgrey;
    .iconDiv{
      height:.5rem;
      width:100%;
      .scoreshopping{
        position:absolute;
        top:.24rem;
        left:2.3rem;
        height:.5rem;
        line-height:.6rem;
        width:.5rem;
        background: url("../imgs/shopping.png") center center;
        background-size: 100% 100%;
      }
      .myprize{
        position:absolute;
        top:.23rem;
        left:4.5rem;
        height:.45rem;
        line-height:.6rem;
        width:.45rem;
        background: url("../imgs/star.png") center center;
        background-size: 100% 100%;
      }
    }
    .spanDiv{
      height:.6rem;
      width:100%;
      margin-top: .2rem;
      .shoppingSpan{
        position:absolute;
        left:1.9rem;
        height:.6rem;
        line-height:.6rem;
        width:2rem;
        color:#8fc440;
        font-size:.3rem;
      }
      .prizeSpan{
        position:absolute;
        left:4.1rem;
        height:.6rem;
        line-height:.6rem;
        width:2rem;
        color:#8fc440;
        font-size:.3rem;
      }
    }

  }
  .task{
    width:98%;
    height:1rem;
    margin:0 auto;
    display: inline-block;
    margin-top:.2rem;
    .leftDiv{
      width:70%;
      heigth:1rem;
      display:inline-block;
      color:black;
      margin-left: .2rem;
      span{
        display:block;
      }
      .desc{
        font-size:.2rem;
        color:grey;
      }
    }
    .rightDiv{
      width:.7rem;
      height:.7rem;
      background-color: white;
      float:right;
      border-radius:50%;
      margin-top:.1rem;
      .plus{
        display:block;
        width:.7rem;
        height:.7rem;
        background: url("../imgs/Plus.png") center center;
        background-size: 100% 100%;
      }
    }

  }
}