.question{
  margin: 0 auto;
  .title{
    margin: 0 auto .3rem;
    font-size: .4rem;
    text-align: center;
  }
  .weui-cells{
    background:none;
  }
  .weui-cell.weui-check__label {
    padding-left: 0;
    padding-right: 0;
  }
  .weui-check__label:active{
    background:none;
  }
  .weui-cells:before,.weui-cells:after,.weui-cell:before{
    border:none;
  }
  .question-button {
    margin: 1rem auto .2rem;
    width: 2.6rem;
    line-height: .7rem;
    text-align: center;
    font-size: .3rem;
    background-color: #8fc440;
    border: .06rem solid #fff;
    border-radius: .2rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: .02rem;

  }
  .result {
    font-size: .36rem;
    margin-top: .1rem;
    text-align: center;
  }
  .content {
    font-size: .34rem;
    letter-spacing: .02rem;
    color: #555;
  }
  .form {
    margin: 0 1rem;
  }
}

