.question{
  margin: 1rem auto;
  width:4rem;
  text-align: center;
}
.question.title{
  margin: 0;
  font-size: .4rem;
  text-align: center;
}
table{
  margin:0 auto;
  margin-left:1.3rem;
  border-collapse:collapse;
}
.questionButton{
  margin:2rem auto;
  width:2rem!important;
  height:.8rem;
  //position:fixed;
  bottom:1rem;
  text-align: center;
}
.weui-cells{
  background:none!important;
}
.weui-check__label:active{
  background:none!important;
}
.weui-cells:before,.weui-cells:after,.weui-cell:before{
  border:none!important;
  border-top:none!important;
}
