.score {
  width: 100%;
  height: 100%;
  padding: .4rem .3rem 0;
  position: relative;
  overflow: auto;
  .title {
    margin: 0 0 1rem;
    font-size: .6rem;
  }
  .score-list.row {
    margin: 0 0 .5rem;
    div.col-xs-3 {
      padding: 0;
      line-height: .8rem;
    }
  }
  .head {
    vertical-align: middle;
    img {
      width: .8rem;
      height: .8rem;
    }
  }
  .score-info {
    margin-top: 1rem;
    p {
      text-indent: 2em;
      font-size: .32rem;
    }
    p span {
      font-size: .34rem;
    }
  }
  .ranking {
    font-size: .4rem;
    color: #ff6600;
  }
}