.scoreshopping {
  background-color: white;
  width: 100%;
  height: 100%;
  .clearfix {
    padding: .4rem .3rem 0;
    color: #fff;
  }
  h2 {
    margin-top: .1rem;
    margin-bottom: .1rem;
    color: #fff;
  }
  p {
    margin-left: .1rem;
    color: #fff;
  }
  .current-score {
    margin-top: .5rem;
    font-size: .4rem;
  }
  .largest {
    width: 90%;
    height: 2rem;
    margin: 0 auto;
    background-color: lightgrey;
    .largestImg {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-left: .4rem;
      background: url("../images/test.png") center center;
      background-size: 100% 100%;
    }
    .largestDetail {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-top: .35rem;
      margin-left: .1rem;
      color: black
    }
  }
  .larger {
    width: 90%;
    height: 2rem;
    margin: 0 auto;
    background-color: lightgrey;
    .largerImg {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-left: .4rem;
      background: url("../images/test.png") center center;
      background-size: 100% 100%;
    }
    .largerDetail {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-top: .35rem;
      margin-left: .1rem;
      color: black
    }
  }
  .normal {
    width: 90%;
    height: 2rem;
    margin: 0 auto;
    background-color: lightgrey;
    .normalImg {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-left: .4rem;
      background: url("../images/test.png") center center;
      background-size: 100% 100%;
    }
    .normalDetail {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-top: .35rem;
      margin-left: .1rem;
      color: black
    }
  }
  .smaller {
    width: 90%;
    height: 2rem;
    margin: 0 auto;
    background-color: lightgrey;
    .smallerImg {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-left: .4rem;
      background: url("../images/test.png") center center;
      background-size: 100% 100%;
    }
    .smallerDetail {
      display: inline-block;
      height: 1.3rem;
      width: 1.8rem;
      margin-top: .35rem;
      margin-left: .1rem;
      color: black
    }
  }
  .line {
    margin: .1rem;
  }
}